{% extends 'blog/base.html' %}
{% block title %}blog {% endblock title %}
{% block content %}
<div class="container my-3">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">author by {{posts.author}}</strong>
          <h3 class="mb-0">{{posts.title}} {{posts.author.firstname}} </h3>
          {% comment %} <div class="mb-1 text-muted">{{posts.timeStamp}}</div> {% endcomment %}
          <p class="card-text mb-auto">{{posts.content|safe}}</p>
          <div class='my-2'>
           <a href="/update/{{posts.Slug}}" role='button' class="btn btn-danger">Edit</a>
           <a href="/delete/{{posts.Slug}}" role='button' class="btn btn-danger">Delete</a>
           {% comment %} <a href="/delete/{{posts.Slug}}" role='button' class="btn btn-warning">Delete</a> {% endcomment %}
        </div>
        </div>
        <div class="col-auto d-none d-lg-block">
        </div>
      </div>
    
    </div>
{% endblock content %}